@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;

  background-color: #eaedf4;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;

  max-width: 100%;
  width: 40em;
}

/* ORG HEADER */

.org-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.org-name-wrapper {
  display: flex;
  align-items: center;

  width: 18em;
}

.org-name {
  width: 100%;

  font-size: 16px;
}

.org-type {
  margin-left: 10px;

  font-weight: bold;
}

.statuses-wrapper {
  display: flex;
  align-items: center;
}

.status {
  font-size: 12px;
  text-transform: uppercase;
}

.status strong {
  margin-right: 5px;

  font-weight: bold;
}

.status + .status {
  margin-left: 15px;
}

input,
textarea {
  width: 100%;
  padding: 8px 10px;

  border: 1px solid #eee;
  border-radius: 2px;
  font-family: "Lato", sans-serif;
}

input:disabled,
textarea:disabled {
  background-color: #fff;
  opacity: 1;
  -webkit-text-fill-color: #333;

  color: #333;

  cursor: not-allowed;
}

section {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  font-size: 14px;
}

section + section {
  margin-top: 20px;
}

section > header {
  display: flex;
  align-items: center;

  padding: 10px 15px;

  background-color: #f7f8fb;

  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

/* ORG INFO */

.org-info {
  padding: 10px 15px;
}

.row {
  display: grid;
  align-items: center;
  grid-template-columns: 150px 1fr;

  width: 100%;
  padding: 2px 0;
  margin: 5px 0;
}

.row-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row label {
  font-weight: bold;
  line-height: 1.5;
}

.org-info-shares {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.address {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2px;
  grid-template-areas:
    "address1 address1 address1 address1"
    "city city state zipcode"
    "county county county county";
}

.address-address1 {
  grid-area: address1;
}

.address-city {
  grid-area: city;
}

.address-state {
  grid-area: state;
}

.address-zipcode {
  grid-area: zipcode;
}

.address-county {
  grid-area: county;
}

.agent {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2px;
  grid-template-areas:
    "name name name name"
    "first-name first-name last-name last-name"
    "email email email email"
    "address1 address1 address1 address1"
    "city city state zipcode"
    "county county county county";
}

.person-name {
  grid-area: name;
}

.person-first-name {
  grid-area: first-name;
}

.person-last-name {
  grid-area: last-name;
}

.person-email {
  grid-area: email;
}

.person-phone {
  grid-area: phone;
}

.person-stake {
  grid-area: stake;
}

.person-invested {
  grid-area: invested;
}

.person-shares {
  grid-area: shares;
}

/* AFFILIATES */

.aff {
  padding: 10px;
}

.aff-manager,
.aff-director {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2px;
  grid-template-areas:
    "name name name name address1 address1 address1 address1"
    "email email email email city city state zipcode"
    "phone phone phone phone . . . .";
}

.aff-member {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2px;
  grid-template-areas:
    "name name name name stake stake invested invested"
    "email email email email address1 address1 address1 address1"
    "phone phone phone phone city city state zipcode";
}

.aff-shareholder {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2px;
  grid-template-areas:
    "name name name name shares shares . ."
    "email email email email address1 address1 address1 address1"
    "phone phone phone phone city city state zipcode";
}

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  .org-header {
    flex-direction: column;
  }

  .org-name-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .aff-manager,
  .aff-director {
    grid-template-areas:
      "name name name name"
      "email email phone phone"
      "address1 address1 address1 address1"
      "city city state zipcode";
  }

  .aff-member {
    grid-template-areas:
      "name name name name"
      "stake stake invested invested"
      "email email phone phone"
      "address1 address1 address1 address1"
      "city city state zipcode";
  }

  .aff-shareholder {
    grid-template-areas:
      "name name name name"
      "shares shares shares shares"
      "email email phone phone"
      "address1 address1 address1 address1"
      "city city state zipcode";
  }
}

@media screen and (max-width: 480px) {
  .org-header {
    margin-bottom: 10px;
  }

  .org-name-wrapper {
    margin-bottom: 10px;
  }

  .row {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }

  .row + .row {
    margin-top: 5px;
  }

  .row label {
    line-height: 1.2;
  }
}

@media screen and (max-width: 400px) {
  .aff-manager,
  .aff-director {
    grid-template-areas:
      "name name name name"
      "email email email email"
      "phone phone phone phone"
      "address1 address1 address1 address1"
      "city city state zipcode";
  }

  .aff-member {
    grid-template-areas:
      "name name name name"
      "stake stake invested invested"
      "email email email email"
      "phone phone phone phone"
      "address1 address1 address1 address1"
      "city city state zipcode";
  }

  .aff-shareholder {
    grid-template-areas:
      "name name name name"
      "shares shares shares shares"
      "email email email email"
      "phone phone phone phone"
      "address1 address1 address1 address1"
      "city city state zipcode";
  }
}
